{% extends "messmate_app/base.html" %}

{% block title %}Student Login{% endblock %}

{% block content %}

<h2>Student / Caterer Login</h2>

<form method="POST">
    {% csrf_token %}
    
    <label>Username:</label><br>
    <input type="text" name="username"><br><br>

    <label>Password:</label><br>
    <input type="password" name="password"><br><br>

    <button type="submit">Login</button>
</form>

<br>

<!-- ADD THIS PART -->
<p>Don't have an account? <a href="{% url 'student_register' %}">Register here</a></p>

{% endblock %}
